.about-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .paint-frame {
    align-items: center;
    display: flex;
    opacity: 1;
    z-index: -1;
  }

  .gogh-paint {
    margin-top: 15vh;
    object-fit: cover;
  }
}
