.scroll-icon-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 75%;
  left: 50%;

  .scroll-icon {
    stroke: #fff;
    top: 75%;
    left: 50%;
    z-index: 1;

    circle {
      fill: #fff
    }
  }
}

