@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.home-wrapper {
  align-items: center;
  display: flex;
  flex-flow: column;

  .badge {
    animation: spin 60s infinite linear;
    height: 28vh;
    margin-right: 15em;
    pointer-events: none;
    position: absolute;
    top: 7em;
    transform-origin: center;
    transition: 1s;
    z-index: 1;
  }
}


