.home-wrapper {
  align-items: center;
  display: flex;
  flex-flow: column;

  .home-name {
    display: flex;
    font-size: 6.42vw;
    font-style: normal;
    font-weight: 100;
    justify-content: space-around;
    left: -0.42em;
    letter-spacing: 0.5em;
    pointer-events: none;
    position: absolute;
    text-align: start;
    top: calc(100% - 7.25vw);
    white-space: nowrap;
    width: 108.75%;

    span {
      display: inline-block;
    }
  }
}
