@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.home-wrapper {
  align-items: center;
  display: flex;
  flex-flow: column;

  .badge {
    animation: spin 60s infinite linear;
    height: 28vh;
    margin-right: 15em;
    pointer-events: none;
    position: absolute;
    top: 7em;
    transform-origin: center;
    transition: 1s;
    z-index: 1;
  }

  .home-name {
    display: flex;
    font-size: 6.42vw;
    font-style: normal;
    font-weight: 100;
    justify-content: space-around;
    left: -0.42em;
    letter-spacing: 0.5em;
    position: absolute;
    text-align: start;
    top: calc(100% - 7.25vw);
    white-space: nowrap;
    width: 108.75%;

    span {
      display: inline-block;
    }
  }

  .mouse-follower {
    color: white;
    font-size: 1em;
    left: 0;
    letter-spacing: 0.25vw;
    margin-left: 2vw;
    mix-blend-mode: difference;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 8vw;
    z-index: 1;
  }
}


