.home-wrapper {
  align-items: center;
  display: flex;
  flex-flow: column;

  .home-name {
    font-size: 1em;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.75em;
    position: absolute;
    text-align: center;
    top: calc(50% + 12em);
  }
}


