.home-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.img-frame {
  display: flex;
  justify-content: center;
  height: 20em;
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 15em;

  img {
    height: 20em;
    object-fit: cover;
  }
}

.username {
  color: #ffe9bc;
  font-family: 'Bodoni Moda';
  font-style: normal;
  font-size: 1.25em;
  letter-spacing: 0.5em;
  text-align: center;
  top: calc(45% + 9em); /* calcula a posição vertical em relação ao topo */
  position: absolute;
}
