.bio-wrapper {
  display: flex;
  height: 75vh;
  z-index: 20;

  .bio-l-container {
    align-items: center;
    border: 2px solid red;
    border-left: none;
    border-right: none;
    border-top: none;
    display: flex;
    height: 100.25%;
    justify-content: center;
    padding: 0 4vw;
    width: 65%;

    &:not(.bio-text) {
      transition: 1s;
      transition-property: border-color;
    }

    .double-quote {
      font-size: 25em;
      left: 1.5vw;
      pointer-events: none;
      position: absolute;
      top: 25vh;
    }

    .bio-text {
      font-size: 1.5em;
    }

    body.dark-mode & {
      border-color: red;
      transition: 1s;

      &:not(.bio-text) {
        transition-property: border-color;
      }
    }
  }

  .bio-r-container {
    border-left: none;
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 35%;

    .upper-r-containers {
      .upper-l {
        border-bottom: none;
        border-radius: 0 0 4em;
        border-top: none;
      }

      .upper-r {
        border-left: none;
        border-radius: 0 0 0 4em;
        border-right: none;
        border-top: none;
      }
    }

    .bottom-r-containers {
      .bottom-l {
        border-radius: 0 4em 0 0;
      }

      .bottom-r {
        border-left: none;
        border-radius: 4em 0 0;
        border-right: none;
      }
    }

    .upper-r-containers, .bottom-r-containers {
      background-color: red;
      display: flex;
      flex-flow: row;
      height: 100%;
      transition: 1s;

      body.dark-mode & {
        background-color: red;
        transition: 1s;
      }

      & * {
        background-color: red;
        border: 2px solid red;
        height: 100%;
        transition: 1s;
        width: 100%;

        body.dark-mode & {
          background-color: red;
          border-color: red;
          transition: 1s;
        }
      }
    }
  }
}
