@import '../../styles/variables';

.header-wrapper {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-flow: row;
  height: 5em;
  justify-content: space-between;
  padding: 3em;
  width: 100%;

  .user {
    font-size: 0.8em;
    letter-spacing: 0.2em;

    &:hover {
      cursor: pointer;
    }
  }

  body.light-mode & {
    background-color: $bg-light;
    color: $txt-light;
    transition: 1s;

    svg {
      fill: $fill-light;
      transition: 1s;
    }
  }

  body.dark-mode & {
    background-color: $bg-dark;
    color: $txt-dark;
    transition: 1s;

    svg {
      fill: $fill-dark;
      transition: 1s;
    }
  }
}
