@import '../../styles/variables';

.header-wrapper {
  align-items: center;
  height: 3em;
  justify-content: space-between;
  padding: 4vh 2vw;
  position: fixed;
  right: 0;
  top: 0;

  body.light-mode & {
    color: $light-mode-txt;
    transition: 1s;
  }

  body.dark-mode & {
    color: $dark-mode-txt;
    transition: 1s;
  }
}
