.header-wrapper {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-flow: row;
  height: 5em;
  justify-content: space-between;
  padding: 3em;
  width: 100%;

  p {
    letter-spacing: 0.1em;
  }
}
