@import '../../../../styles/_variables.scss';

.bio-wrapper {
  display: flex;
  height: 100%;
  margin-top: 119.25vh;
  width: 100%;

  .bio-l-container {
    align-items: center;
    border: 2px solid $light-mode-fill;
    border-left: none;
    border-right: none;
    border-top: none;
    display: flex;
    height: 75.25vh;
    justify-content: center;
    padding: 0 4em;
    width: 65%;

    &:not(.bio-text) {
      transition: 1s;
      transition-property: border-color;
    }

    .bio-text {
      font-size: 1.5em;
      width: 115vh;
    }

    body.dark-mode & {
      border-color: $dark-mode-fill;
      transition: 1s;

      &:not(.bio-text) {
        transition-property: border-color;
      }
    }
  }

  .bio-r-container {
    border-left: none;
    display: flex;
    flex-flow: column;
    height: 75vh;
    width: 35%;

    .upper-r-containers {
      .upper-l {
        border-radius: 0 0 4em;
        border-top: none;
      }

      .upper-r {
        border-left: none;
        border-radius: 0 0 0 4em;
        border-right: none;
        border-top: none;
      }
    }

    .bottom-r-containers {
      .bottom-l {
        border-radius: 0 4em 0 0;
        border-top: none;
      }

      .bottom-r {
        border-left: none;
        border-radius: 4em 0 0;
        border-right: none;
        border-top: none;
      }
    }

    .upper-r-containers, .bottom-r-containers {
      background-color: $light-mode-fill;
      display: flex;
      flex-flow: row;
      transition: 1s;

      body.dark-mode & {
        background-color: $dark-mode-fill;
        transition: 1s;
      }

      & * {
        background-color: $light-mode-bg;
        border: 2px solid $light-mode-fill;
        height: 37.5vh;
        transition: 1s;
        width: 37.5vh;

        body.dark-mode & {
          background-color: $dark-mode-bg;
          border-color: $dark-mode-fill;
          transition: 1s;
        }
      }
    }
  }
}
