.about-wrapper {
  .gogh-paint {
    margin-top: 15vh;
    object-fit: cover;
  }

  .hero-name {
    color: #fff;
    display: flex;
    font-size: 6.25vw;
    font-weight: 100;
    justify-content: space-around;
    left: 0.2em;
    letter-spacing: 0.45em;
    position: absolute;
    text-align: left;
    top: 35%;
    width: 100%;
    word-wrap: break-word;
    z-index: 1;

    span {
      display: inline-block;
    }
  }

  .paint-frame {
    align-items: center;
    display: flex;
    opacity: 1;
    z-index: -1;
  }
}

