.about-wrapper {
  .gogh-paint {
    margin-top: 15vh;
    object-fit: cover;
  }

  .hero-name {
    color: #fff;
    font-size: 6vw;
    left: 5vw;
    letter-spacing: 0.45em;
    mix-blend-mode: difference;
    position: absolute;
    top: 19vw;
    width: 100%;
    z-index: 2;
  }

  .paint-frame {
    align-items: center;
    display: flex;
    opacity: 1;
    z-index: -1;
  }
}

