@import '../../styles/variables';

.toggle-wrapper {
  align-items: center;
  display: flex;
  flex-flow: row;
  height: 2em;
  justify-content: space-around;
  margin: 0.5em;
  width: 2em;

  .toggle {
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    height: 2.5em;
    justify-content: center;
    width: 2.5em;

    body.dark-mode & {
      background-color: $dark-mode-fill;
    }

    body.light-mode & {
      background-color: $light-mode-txt;
    }

    .toggle-input {
      display: none;
    }
  }

  .toggle-sun, .toggle-moon {
    height: 1.75em;
    padding: 0.5em;
    width: 1.75em;

    body.dark-mode & {
      fill: $light-mode-fill;
    }

    body.light-mode & {
      fill: $dark-mode-fill;
    }
  }
}

