@import '../../styles/variables';

$toggle-width: 2.5em;
$toggle-height: $toggle-width / 2;
$toggle-radious: $toggle-height;

.toggle-wrapper {
  align-items: center;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  padding: 0.5em;
  width: 8em;

  .toggle-sun, .toggle-moon {
    height: 1.5em;
    width: 1.5em;

    body.dark-mode & {
      fill: $dark-mode-fill;
      transition: 1s;
    }

    body.light-mode & {
      fill: $light-mode-fill;
      transition: 1s;
    }
  }

  .toggle {
    cursor: pointer;
    border-radius: calc($toggle-height / 2);
    height: $toggle-height;
    width: $toggle-width;

    .toggle-input {
      display: none;

      &:checked ~ .toggle-element::after {
        transform: translate($toggle-height);
      }
    }

    .toggle-element {
      border-radius: $toggle-radious;
      height: $toggle-height;
      position: relative;
      transition: 0.2s;
      width: $toggle-width;

      body.dark-mode & {
        border: 1px solid $dark-mode-fill;

        &::after {
          background-color: $dark-mode-fill;
          transition: 0.5s;
        }
      }

      body.light-mode & {
        border: 1px solid $light-mode-fill;

        &::after {
          background-color: $light-mode-fill;
          transition: 0.5s;
        }
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: $toggle-height;
        width: calc($toggle-width / 2);
        border-radius: $toggle-radious;
        transition: transform 0.2s;
      }
    }
  }
}

