@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;500&display=swap");

#root {
  height: 100%;
}

body {
  background-color: #131313;
  color: bisque;
  margin: 0;
  scroll-behavior: smooth;
}
