@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;500&display=swap");

$bg-dark: #131313;
$txt-dark: #ffe4c4;
$bg-light: #d9d9d9;
$txt-light: #131313;

#root {
  height: 100%;
}

body {
  background-color: $bg-dark;
  color: $txt-dark;
  font-family: 'Bodoni Moda', serif;
  margin: 0;
  scroll-behavior: smooth;

  &.light-mode {
    background-color: $bg-light;
    color: $txt-light;
    transition: 1s;

    svg {
      fill: $txt-light;
      transition: 1s;
    }
  }

  &.dark-mode {
    background-color: $bg-dark;
    color: $txt-dark;
    transition: 1s;

    svg {
      fill: $txt-dark;
      transition: 1s;
    }
  }
}
